.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.customBg {
    background-color: $color-base-50;
}

.content {
    @include container;

    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: $spacing-9;

    @include mobile-only {
        padding: 0;
    }
}

// TODO: use icon that does not require transform properties
.scrollToTopIcon {
    transform: rotate(0);
}
