.link {
    @include text-small;
    @include link-dark;

    padding: $spacing-small $spacing-1;
    background-color: #f1f5f9;
    border-radius: $border-radius-m;
    font-weight: $font-weight-bold;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:not(:last-child) {
        margin-right: 0.625rem;
    }
}
