.background {
    @include full-width;

    background: $color-base-50;
    border-bottom: 1px solid $color-borders;
}

.container {
    @include container;

    padding-top: $spacing-6;
    padding-bottom: $spacing-6;
    text-align: left;
}

.title {
    @include heading-1;

    margin-top: 0;
    color: $color-base-800;

    &:only-child {
        margin-bottom: 0;
    }
}

.subtitle {
    @include paragraph;

    color: $color-base-600;
    margin: $spacing-3 auto 0;
}
