.container {
    @include shadow-l;

    background-color: var(--prezly-header-background-color);
    color: var(--prezly-header-link-color);
    height: 3rem;
    z-index: 1;

    @include mobile-only {
        display: none;
    }

    div {
        display: flex;
        align-items: center;
        margin-top: $spacing-half;
    }
}

.link {
    font-size: $font-size-xs;
    color: var(--prezly-header-link-color);

    &.active {
        border-bottom: 2px solid var(--prezly-accent-color);
        border-radius: 0;
    }

    &:active {
        border: 0;
    }

    &:first-child {
        margin-left: -$spacing-3;
    }
}

.more {
    font-size: $font-size-xs;
    color: var(--prezly-header-link-color);
}

.dropdown {
    top: 50px;
    z-index: 10;
}
