.container {
    padding: $spacing-9 0;

    @include not-desktop {
        padding-top: $spacing-5;
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
    color: $color-base-white;
    transition: background-color 0.15s ease-in;

    &:hover {
        background-color: var(--prezly-accent-color-tint) !important;
    }

    &:active,
    &:focus {
        background-color: var(--prezly-accent-color-shade) !important;
    }
}
