$header-height: 64px;

.container {
    @include shadow-l;

    display: flex;
    background: var(--prezly-header-background-color);
    border-bottom: 1px solid $color-borders;
    height: $header-height;

    @include mobile-only {
        border-bottom: 0;
        z-index: 20;
    }

    &.open {
        border-bottom: 1px solid $color-borders;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-3 0;
    height: 100%;

    .navigationToggle {
        color: var(--prezly-header-link-color);
        font-size: $font-size-m;
        line-height: 1;
        padding: $spacing-2;

        @include tablet-up {
            display: none;
        }
    }

    .navigationButton {
        color: var(--prezly-header-link-color);
        font-size: $font-size-xs;
        line-height: 100%;

        @include mobile-only {
            display: flex;
            text-align: left;
            justify-content: flex-start;
            padding: $spacing-4 $grid-gutter-mobile;
            color: inherit;
        }

        &:active {
            border-color: transparent;
        }
    }

    .searchToggle {
        color: var(--prezly-header-link-color);
        font-size: 14px;

        @include mobile-only {
            font-size: $font-size-m;
            line-height: 1;
            padding: $spacing-2;

            /* stylelint-disable-next-line max-nesting-depth */
            svg {
                margin: 0;
            }

            /* stylelint-disable-next-line max-nesting-depth */
            span {
                display: none;
            }
        }

        @include tablet-up {
            @include border-radius-lg;

            order: 10;
            line-height: $line-height-labels;
            color: var(--prezly-header-link-color);
        }

        &:active {
            border-color: transparent !important;
        }
    }

    .navigationToggle.hidden,
    .searchToggle.hidden {
        @include mobile-only {
            display: none;
        }
    }
}

.newsroom {
    @include link-primary;

    font-size: 1.75rem;
    line-height: 2.5rem;
    text-transform: uppercase;

    @include not-desktop {
        font-size: 1.25rem;
    }

    &.withoutLogo {
        color: var(--prezly-header-link-color);

        &:hover {
            color: var(--prezly-header-link-color);
            opacity: 0.8;
        }
    }
}

.logo {
    width: auto;
    max-width: 20rem;
    max-height: 3rem;

    @include mobile-only {
        max-width: 100%;
    }
}

.navigation,
.navigationInner {
    @include tablet-up {
        display: flex;
        align-items: center;
    }
}

.navigationWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include mobile-only {
        margin-right: -$spacing-1;
    }
}

/* Since search widget is in a portal, there is no better way of increasing the specificity other than adding global selectors */
/* stylelint-disable selector-no-qualifying-type */
.navigation,
div.mobileSearchWrapper {
    @include mobile-only {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}
/* stylelint-enable selector-no-qualifying-type */

.navigation {
    @include mobile-only {
        &:not(.open) {
            pointer-events: none;
        }
    }
}

.navigationInner {
    list-style: none;
    margin: 0;
    padding: 0;

    @include mobile-only {
        position: relative;
        background: $color-base-white;
        border-bottom: 1px solid $color-borders;
        transform: translateY(-50%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        max-height: 100%;
        overflow-y: auto;

        .open & {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.navigationItem {
    display: block;
    margin: 0;
    padding: 0;

    @include mobile-only {
        &:not(:first-child) {
            border-top: 1px solid $color-borders;
        }
    }
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $color-base-900;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include mobile-only {
        .open & {
            opacity: 0.5;
        }
    }

    @include tablet-up {
        display: none;
    }
}

/* This class is added to the document body to prevent scrolling */
.body {
    overflow: hidden;
}
