.container {
    @include mobile-only {
        background: $color-base-50;
    }
}

.active {
    @include tablet-up {
        border-color: $color-base-600 !important;
    }
}

.menu {
    @include tablet-up {
        border: 1px solid $color-base-600 !important;
        max-height: 50vh;
        overflow: auto;
    }
}

.title {
    display: block;
    color: $color-base-600;
    font-weight: 500;
}
